@model Application.Models.RoomModel
@{
    ViewData["Title"] = "Deletar filmes";
}

<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
    </button>
    <span>
        Deseja realmente deletar essa categoria?
    </span>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" autocomplete="off" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"> Título</label>
                <span class="form-control">@Model.Name</span>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsCount" class="control-label"> Quantas de poltronas da sala </label>
                <span class="form-control">@Model.SeatsCount</span>
                <span asp-validation-for="SeatsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sim" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Nao</a>
            </div>
        </form>
    </div>
</div>