@model Application.Models.RoomModel
@{
    ViewData["Title"] = "Cadastro de Salas";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" autocomplete="off" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"> Título</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatColumnCount" class="control-label"> Quantas fileiras essa sala terá</label>
                <input type="text" asp-for="SeatColumnCount" class="form-control" />
                <span asp-validation-for="SeatColumnCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatRowCount" class="control-label"> Quantas poltronas haverá por fileira</label>
                <input type="text" asp-for="SeatRowCount" class="form-control" />
                <span asp-validation-for="SeatRowCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>