@model Cine.Backoffice.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="container">
    <form autocomplete="off" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2>Login</h2>
        </div>
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Email">E-mail</label>
                        <input class="form-control" type="text" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Password">Senha</label>
                        <input class="form-control" type="password" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="form-group content-center">
                    <input class="btn btn-info" type="submit" value="Entrar" />
                    <a class="btn btn-secondary" asp-action="Register" asp-controller="Account" value="Entrar"> Registrar-se </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="form-group" style="font-family: sans-serif">
                <a data-toggle="tooltip" data-placement="bottom" title="É um visitante? Clique aqui e considere desnecessário criar uma conta" asp-action="Index" asp-controller="Home">It is a Visitant Administrator?</a>
            </div>
        </div>
    </form>
</div>