<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://google.com">
                        Cine Unifenas
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>