<div class="sidebar-wrapper">
    <ul class="nav">
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="Index" asp-controller="Order">
                <i class="material-icons">confirmation_number</i>
                <p>Venda de ingressos</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="OrderList" asp-controller="Order">
                <i class="material-icons">pending_actions</i>
                <p>Pedidos em Andamento</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="OrderListFinished" asp-controller="Order">
                <i class="material-icons">attach_money</i>
                <p>Faturamento</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="Index" asp-controller="MovieCategory">
                <i class="material-icons">grading</i>
                <p>Categorias de Filmes</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="Index" asp-controller="Movie">
                <i class="material-icons">movie</i>
                <p>Cadastro de Filmes</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="Index" asp-controller="Room">
                <i class="material-icons">single_bed</i>
                <p>Cadastro de Salas</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="Index" asp-controller="Session">
                <i class="material-icons">theaters</i>
                <p>Cadastro de Sessões</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="Index" asp-controller="FoodCategory">
                <i class="material-icons">local_dining</i>
                <p>Categoria de Bomboniere</p>
            </a>
        </li>
        <li class=" nav-item active  ">
            <a class=" nav-link" asp-action="Index" asp-controller="Food">
                <i class="material-icons">fastfood</i>
                <p>Cadastro de Produtos</p>
            </a>
        </li>
        <!-- your sidebar here -->
    </ul>
    <div style="margin-bottom: 10px"></div>
</div>